<header>
	<% logo = image_tag("home/logo.png", :alt => "Sample App", :class => "round") %>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Help", 'help' %></li>
			<li><%= link_to "Sign in", 'signin' %></li>
		</ul>
	</nav>
</header>